# Dependencies
node_modules/
.pnp
.pnp.js

# Production build output
dist/
dist-ssr/

# Local env files
.env
.env.local
.env.*.local

# Editor & OS files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Root backups
/App.jsx
/App.original.jsx

